@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Serif|Roboto+Slab&subset=latin-ext");
header h1 {
width: 844px;
height: 55px;
color: #ffffff;
font-family: Montserrat;
font-size: 75px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: -1.88px;
}