@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Serif|Roboto+Slab&subset=latin-ext");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.jumbotron {
  background-image: url("../images/background-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 729px;
}
.jumbotron .navi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 230px 180px 230px;
}

.jumbotron .navi__image {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.jumbotron .navi__menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  flex: 1;
}

.jumbotron .navi__menu li a {
  font: 14px "Montserrat", sans-serif;
  padding: 0 0 0 40px;
  font-size: 16px;
}

.jumbotron .header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #FFF;
}

.jumbotron .header h1 {
width: 844px;
height: 55px;
color: #ffffff;
font-family: Montserrat;
font-size: 75px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: -1.88px;
padding-bottom: 60px;
}

.jumbotron .header p {
width: 430px;
height: 32px;
color: #ffffff;
font-family: "Droid Serif";
font-size: 40px;
font-style: italic;
letter-spacing: -1px;
padding: 20px;
}

.yellowbtn {
width: 240px;
height: 65px;
background-color: #fed136;
}