@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Serif|Roboto+Slab&subset=latin-ext");
* {
	padding: 0;
	margin: 0;
}

a {
	color: #ffffff;
}

.header .container {
	padding: 150px;
}

h1 {
  font: "Montserrat", sans-serif;
  padding: 20px;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  font: 16px "Montserrat", sans-serif;
  color: #777777;
  font-style: italic;
}

a, a:hover {
  text-decoration: none;
  color: #FFF;
}

p {
  font: 14px "Roboto Slab", serif;
  color: #777777;
}

.container {
  padding: 120px;
}
/* jumbotron */

.jumbotron {
  background-image: url("../images/background-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.jumbotron .navi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 230px 180px 230px;
}

.jumbotron .navi__image {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.jumbotron .navi__menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  flex: 1;
}

.jumbotron .navi__menu li a {
  font: 14px "Montserrat", sans-serif;
  padding: 0 0 0 40px;
  font-size: 16px;
}

.jumbotron .header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #FFF;
}

.jumbotron .header h1 {
width: 844px;
height: 55px;
color: #ffffff;
font-family: Montserrat;
font-size: 75px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: -1.88px;
padding-bottom: 60px;
}

.jumbotron .header p {
width: 430px;
height: 32px;
color: #ffffff;
font-family: "Droid Serif";
font-size: 40px;
font-style: italic;
letter-spacing: -1px;
padding: 20px;
}

.yellowbtn {
width: 240px;
height: 65px;
background-color: #fed136;
border: none;
font: 18px "Montserrat";
text-transform: uppercase;
font-weight: bold;
cursor: pointer;
}

/* services */

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__header h1 {
  text-transform: uppercase;
  font: 40px "Montserrat", sans-serif;
  font-weight: bold;
  color: #222222;
}

.services__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 80px;
}

.services__items .item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 33px;
}

.services__items .item__image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px #fed136 solid;
  height: 70px;
  width: 70px;
  line-height: 70px;
}

.services__items .item h1 {
  font-size: 18px;
  font-weight: bold;
}

.services__items .item p {
  text-align: center;
}

/* portfolio */

.joinbg {
  background-color: #f7f7f7;
  width: 100%;
}

.portfolio {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__header h1 {
  text-transform: uppercase;
  font: 18px;
  font-weight: bold;
}

.portfolio__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  flex-wrap: wrap;
}

.portfolio__box .box {
  background-color: #FFF;
  margin: 25px 8px 25px 8px;
  text-align: center;
}

.portfolio__box .box h1 {
  font-size: 18px;
  font-weight: bold;
}

.portfolio__box .box p {
  font-style: italic;
  padding-bottom: 20px;
}

/* aboutus */

.aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutus__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutus__header h1 {
  text-transform: uppercase;
  font: 18px;
  font-weight: bold;
}

.aboutus__round {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 300px;
}

.aboutus__round .round {
  display: flex;
  justify-content: center;
}

.aboutus__round .round:nth-child(even) .round__text {
  margin-left: 600px;
}

.aboutus__round .round:nth-child(odd) .round__text {
  margin-right: 600px;
  text-align: right;
}

.aboutus__round .round:last-child .round__text {
  position: absolute;
  justify-content: center;
  text-align: center;
  display: flex;
}

.aboutus__round .round:last-child .round__text h1 {
  color: #FFF;
  word-spacing: 100vw;
}

.aboutus__round .round__image {
  position: absolute;
  justify-content: center;
  display: flex;
  flex: 1;
  margin: 80px 0 80px 0;
}

.aboutus__round .round__image:after {
  content: '';
  height: 100%;
  position: absolute;
  border: 2px solid #f7f7f7;
  margin: 180px 0 0 0;
  z-index: -1;
}

.aboutus__round .round__text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 350px;
  flex: 1;
  margin: 80px 0 80px 0;
}

.aboutus__round .round__text h1 {
  font-size: 18px;
  font-weight: bold;
}

.aboutus__round .round__text h1:first-child {
  text-transform: uppercase;
}

/* team */

.fa {
  border-radius: 50%;
  border: 4px solid #000;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__members {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  flex-wrap: wrap;
}

.team__members .member {
  padding: 25px;
}

.team__members .member .member__description {
  margin: 25px 10px 25px 10px;
  text-align: center;
}

.team__members .member .member__description h1 {
  font-size: 18px;
  font-weight: bold;
}

.team__members .member .member__description p {
  padding-bottom: 20px;
}

.team__text {
  text-align: center;
}

.team__text p {
  font-size: 16px;
}

/* logos */

.logos {
	padding: 60px 10px;
	text-align: center;
}

.logos img {
	padding: 6px;
	margin: 10px;
}

/* contact */

::placeholder {
  color: #777777;
  text-transform: uppercase;
  font: 14px "Montserrat", sans-serif;
  font-weight: bold;
  opacity: 0.5;
}

.contactbg {
  background-color: #222222;
  width: 100%;
  background-image: url("../images/Map.png");
  background-position: right;
  background-repeat: no-repeat;
}

.contactbg .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactbg .contact__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactbg .contact__header h1 {
  text-transform: uppercase;
  font: 18px;
  font-weight: bold;
  color: #FFF;
}

.contactbg .contact__form {
  padding-bottom: 50px;
  padding-top: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactbg .contact__form .form__input {
  flex: 1;
  width: 100%;
  margin: 0 15px 0 15px;
}

.contactbg .contact__form .form__input input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px 0 15px 0;
  padding: 15px;
}

.contactbg .contact__form .form__textarea {
  flex: 1;
  display: flex;
}

.footer {
  display: flex;
  align-items: center;
  padding: 25px 120px;
}

.footer__copy {
  flex: 0.5;
}

.footer__copy p {
  font: 14px "Montserrat", sans-serif;
  color: #777777;
  font-weight: bold;
}

.footer__icon {
  flex: 1;
  padding: 0 60px 0 0px 0;
}